<?xml version='1.0' encoding='UTF-8' ?>
<beanio xmlns="http://www.beanio.org/2012/03" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.beanio.org/2012/03 http://www.beanio.org/2012/03/mapping.xsd">

  <stream name="stream1" format="csv">
    <record name="record" class="map">
      <field name="id" type="int" />
      <field name="name" />
    </record>
  </stream>

  <stream name="xmlstream" format="xml" xmlName="people" mode="write" xmlNamespace="http://test">
    <writer class="org.beanio.parser.xml.TestXmlWriterFactory">
      <property name="namespaces" value="f http://field" />
    </writer>
    <group name="friends" order="1">
      <record name="friend" class="org.beanio.spring.Human" minOccurs="0" maxOccurs="unbounded" xmlNamespace="http://field" xmlPrefix="f">
        <property name="type" rid="true" value="F" />
        <field name="gender" xmlType="attribute" xmlNamespace="http://att"/>
        <field name="name" xmlType="text" />
      </record>
    </group>
    <group name="others" order="1">
      <record name="coworker" order="1" class="org.beanio.spring.Human" minOccurs="0" maxOccurs="unbounded">
        <property name="type" rid="true" value="C" />
        <field name="name" xmlType="text" />
      </record>
      <record name="neighbor" order="1" class="org.beanio.spring.Human" minOccurs="0" maxOccurs="unbounded">
        <property name="type" rid="true" value="N" />
        <field name="name" xmlType="text" />
      </record>
    </group>
  </stream>

</beanio>